<!DOCTYPE html>
<html lang="ja">

<head>
   <meta charset="UTF-8">
   <title>アラーム</title>
</head>

<body>
   <h2>アラーム</h2>
   <h4>アラームを鳴らす時間をセットしてください</h4>
   <p>{{alarm_time}}</p>
   <form action="/" method="POST" enctype="multipart/form-data">
      <div>
         <input type="time" name="alarm_time" value="07:00">
         <input type="submit" value="送信">
      </div>
   </form>

   <h2>リンク集</h2>
   <ul>
      <li>
         <a href="https://crashrt.work">ポートフォリオ</a>
      </li>
      <li>
         <a href = "https://192.168.11.15:7010">Movie Collection</a>
      </li>
   </ul>
</body>

</html>
